# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node.js
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/
build/
dist/

# Production env / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Testing / coverage
coverage/
*.lcov
.nyc_output/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Turbopack
.turbo/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
